<section class="long-form-section">
	<div class="header silver-color offshadow">
		<h1 class="page-title auth-form-heading">Edit your Profile</h1>
		<p class="sub">Fill in most details so people can learn more about you</p>
</div>
<div class="container">	

			<%= form_for @profile, :role => "form", :html => {:class=>"long-form", :multipart => true } do |f| %>

				<div class="form-group">
					<h3>Data about you</h3>
					<div class="newPaperclipFiles">
					<p><%= f.label :avatar, "Upload your Profile picture" %><%= f.file_field :avatar, :class => "custom-file-input" %></p><br/>
				</div>
				<p><%= f.label :fullname, "Full Name" %><%= f.text_field :fullname, :class=> "form-control", :placeholder=>"Your full name" %></p>
				<p><%= f.label :paypalemail, "Paypal Email" %><%= f.text_field :paypalemail, :class=> "form-control", :placeholder=>"Your Paypal email address" %></p>
				</div>


				<div class="form-group">
				<h3>More info about you, visible to public</h3>
				<p><%= f.label :displayname, "Your display name" %><%= f.text_field :displayname, :class=> "form-control", :placeholder=>"Display Name" %></p>			
				<p><%= f.label :aboutme, "Describe yourself a little" %><%= f.text_area :aboutme, :class=> "form-control", :placeholder=>"About yourself" %></p>
				<span class="helper-block">Will be kept private</span>
				<p><%= f.label :twitterhandle, "Twitter ID" %><%= f.text_field :twitterhandle, :class=> "form-control", :placeholder=>"Twitter username" %></p>
				<p><%= f.label :websiteurl, "Website" %><%= f.text_field :websiteurl, :class=> "form-control", :placeholder=>"Your website address" %></p>
				</div>

				<div class="form-group">
				<h3>Shipping Details</h3>
				<p><%= f.label :country, "Your Country" %><%= f.text_field :country, :class=> "form-control", :placeholder=>"Country you live in" %></p>
				<p><%= f.label :timezone, "your timezone" %><%= f.text_field :timezone, :class=> "form-control", :placeholder=>"Your timezone" %></p>
				<p><%= f.label :location, "Your current city/location" %><%= f.text_field :location, :class=> "form-control", :placeholder=>"Shipping city or location" %></p>
				<p><%= f.label :address, "Your full address" %><%= f.text_field :address, :class=> "form-control", :placeholder=>"Shipping address in full. Required for orders" %></p>
				<p><%= f.label :phone, "Your phone number" %><%= f.text_field :phone, :class=> "form-control", :placeholder=>"Your phone number" %></p>

			</div>

			<p><%= f.submit "Add", :disable_with => 'Going...', :class =>"btn btn-success btn-lg btn-block" %></p>
			<% end %>
	</div>
</section>