	<div class="outer">
<div class="main">
							<div class="centered-800 section rounded offshadow">		
		<%= form_for @phone, :class=>"form-horizontal",  :role => "form" do |f| %>
		
			
				<h3>Data about your phone</h3>
				<hr class="gray">
				
				<%= image_tag @phone.image.url(:medium) %>
				<%= f.label :image, "Upload your Profile picture" %><%= f.file_field :image %><br/>
				
				
			<%= f.text_field :modelname, :class=> "form-control", :placeholder=>"Your full name" %>

			<%= f.text_field :phonetype, :class=> "form-control", :placeholder=>"Type of phone" %>

			
			<hr class="gray">
			
		<%= f.submit "Update", :disable_with => 'Updating...', :class =>"btn redround" %>
		<% end %>
		
	</div>
</div>
</div>