<% content_for :title, "Buy and sell #{@phone.modelname} Singapore" %>


<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading"><%= @phone.modelname %> for sale in Singapore</h1>
		</div>
	</div>
<div class="container white-color softshadow">
	<% if @listings.blank? %>
	<div class="cushion">
	<h1 class="">Sorry no results found for <%= @phone.modelname %></h1>
	<a class="btn orange-flat-button" href="/listings/new?pid=<%= @phone.id %>">Sell <%= @phone.modelname %></a>
	</div>
	<div class="cushion">
		<h1>Maybe you'll like these popular listings</h1>
		<div class="row">
		<% @popularlistings = Listing.all.order("impressions_count DESC").limit(6) %>
		<% @popularlistings.each do |l| %>
		<%= image_tag Phone.find(l.phone_id).image.url(:thumb) %>
		<div class="col-md-4 col-sm-4 col-xs-12 grid-list-item">
		<h3><%= l.devicename %> | <%= l.devicecolor %> <%= l.devicestorage %> | <%= l.devicestorage %></h3>
		<a class="btn graphite-flat-button btn-sm" href="/listings/<%= l.id %>">Buy</a>
		</div>
		<% end %>
		</div>
	</div>
	<% else %>
		<% cache @listings do%>
		<%= render partial: 'phones/listings' %>
		<% end %>
		<div class="cushion">
		<%= will_paginate @listings, renderer: BootstrapPagination::Rails  %>
		</div>
		<% end %>

</div>
</section>
