<section class="red-color auth-form-section">
		<div class="container">
		<h1 class="page-heading auth-form-heading">sign up</h1>
	<%= form_for(resource, :as => resource_name,:html => {class:"new_user auth-form"}, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<p>
		<%= f.text_field :firstname, :class=> " required", :placeholder=>"Your Name" %>
	</p>
<p>
	<%= f.text_field :email, :class=> " required", :placeholder=>"Email" %>
</p>
<p>
	<%= f.password_field :password, :class=> "required", :placeholder=>"Password" %>
</p>
<p>
	<%= f.password_field :password_confirmation, :class=> "required", :placeholder=>"Password Confirmation" %>
</p>

<%= f.fields_for :profile do |p| %>
<p>
<%=p.label:country, "Country" %> <br/><%= p.country_select :country, ["Singapore"] %>
</p>

<% end %>


<p>
<%= f.submit "Signup", :disable_with => 'Adding...', :class =>"btn input-btn" %>
</p>

	<div class="form-links">
	<a href="users/sign_in">» Already have an account? Sign in</a>
	</div>
<% end %>

</div>
</section>
