<div class="outer">
					<div class="pane">							
						<div class="centered-text section centered-400 rounded offshadow">
	<h3 class="content-heading">sign up</h3>
	<hr class="gray">
	
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

<p>
	<%= f.text_field :email, :class=> " required", :placeholder=>"Email" %>
</p>
<p>
	<%= f.password_field :password, :class=> "required", :placeholder=>"Password" %>
</p>
<p>
	<%= f.password_field :password_confirmation, :class=> "required", :placeholder=>"Password Confirmation" %>
</p>

<%= f.fields_for :profile do |p| %>
<p>
<%=p.label:country, "Country" %> <%= p.country_select :country, ["Singapore"] %>
</p>

<% end %>


<p>
<%= f.submit "Signup", :disable_with => 'Adding...', :class =>"btn btn-hero rounded" %>
</p>
<% end %>

<h4>OR</h4>
<a href="<%= new_user_session_path %>">>> Already have an account? Sign in.</a>
</div>
</div>
</div>
