
		<div class="comments-list">
			<h4> Comments (<%= Comment.get_comment_count(@listing.id)%>)</h4>
		<% @comments.each do  |c| %>
		<div class="comment">
			<%= image_tag Profile.find_by_user_id(c.user_id).avatar.url(:mini), :class => "img-circle" unless @profile.nil? %>
		<p class="comment-body">
		<strong><%= Comment.get_comment_author(c.user_id) unless @profile.nil?  %> </strong><br/>
		<%
		%>
	<%	@commentbody = c.commentbody.gsub(/[_a-z0-9-]+(.[_a-z0-9-]+)@[a-z0-9-]+(.[a-z0-9-]+)(.[a-z]{2,3})/i, 'forbidden')
%>			<%= @commentbody
	  %>
	
	<% if c.picture.exists?%>
		<br/>
	<a class="fancybox" href="<%= c.picture.url('original')%>" rel="group"><%= image_tag c.picture.url('medium'), :class => "extra_img" %></a>
	<% end %>
	<br/><br/>
<%= time_ago_in_words(c.created_at) %> ago	
	</p></div>
		<% end %>
		
		
	