<% content_for :title,  "Create a new listing to sell in Singapore" %>

<section class="long-form-section">
	<div class="header silver-color offshadow">
		<h1 class="page-title auth-form-heading">List your phone</h1>
		<p class="sub">Free to sell, so you keep all the money</p>
</div>
<div class="container">	

				
					<%= form_for @listing, :id => "listing-form",  :role => "form", :html => {:class=>"long-form", :multipart => true } do |f| %>
					
					<p><%= f.label :devicename, " Name of your phone" %>
					<%= f.text_field :devicename %></p>
											<p class="radgrp"><%= f.label:devicecolor, "Color of the device*" %>
						<div class="radbtns"><%= f.radio_button :devicecolor, "Black" %> <%= f.label:devicecolor, "Black" %></div>
						<div class="radbtns"><%= f.radio_button :devicecolor, "White" %> <%= f.label:devicecolor, "White" %></div>
						<div class="radbtns"><%= f.radio_button :devicecolor, "Silver" %> <%= f.label:devicecolor, "Silver" %></div>
						<div class="radbtns"><%= f.radio_button :devicecolor, "Gray" %> <%= f.label:devicecolor, "Gray"%></div></p>													
						
						<p class="radgrp"><%= f.label:devicestorage, "Storage capacity of the device*" %>
										<div class="radbtns"><%= f.radio_button :devicestorage, "8gb" %> <%= f.label:devicestorage, "8 GB" %></div>
										<div class="radbtns"><%= f.radio_button :devicestorage, "16gb" %> <%= f.label:devicestorage, "16 GB" %></div>
										<div class="radbtns"><%= f.radio_button :devicestorage, "32gb" %> <%= f.label:devicestorage, "32 GB" %></div>
										<div class="radbtns"><%= f.radio_button :devicestorage, "64gb" %> <%= f.label:devicestorage, "64 GB" %></div>
										<div class="radbtns"><%= f.radio_button :devicestorage, "128gb" %> <%= f.label:devicestorage, "128 GB" %></div></p>

					<p class="radgrp"><%= f.label:modified, "Has the device been modified in any way. rooted or something? (required)" %>
					<div class="radbtns"><%= f.radio_button :modified, :true %> <%= f.label:modified, " Yes" %></div>
					<div class="radbtns"><%= f.radio_button :modified, :false %> <%= f.label:modified, " No" %></div></p>

												<%= f.hidden_field :status, :value=>"Pending" %>

											
								<input type="text" name="foo" style="display: none;">


											<hr class="gray">
												<%= f.submit "Go", :disable_with => 'Going...', :class =>"btn btn-success redround offshadow" %>
											<% end %>
	
				
									
	</div>
</section>

	




