<% content_for :title,  "Create a new listing to sell in Singapore" %>

<section class="long-form-section">
	<div class="header silver-color offshadow">
		<h1 class="page-title auth-form-heading">List your phone</h1>
		<p class="sub">Free to sell, so you keep all the money</p>
</div>
<div class="container">	

				
					<%= form_for @listing, :id => "listing-form",  :role => "form", :html => {:class=>"long-form", :multipart => true } do |f| %>
					
						<% if @listing.errors.full_messages.any? %>
						<div id="error_explanation">
						<h2>Please rectify the following errors</h2>
						<ul>
						<% @listing.errors.full_messages.each do |error_message| %>
						<li><%= error_message %></li>
						<% end %>
						</div>
						<% end %>
					
					<div class="form-group">
					<p><%= f.label :headline, " Title of your listing" %>
					<%= f.text_field :headline %></p>
					<p><%= f.label :description, " Describe your phone a little" %>
					<%= f.text_field :description %></p>
					</div>
					<div class="form-group">
					<p><%= f.label :devicename, " Name of your phone" %>
					<%= f.text_field :devicename, :value=> Phone.find(params[:pid]).modelname, :readonly => true %></p>
					<div class="radgrp"><%= f.label :devicestorage, " How much internal memory does your device have?" %>
						<div class="btn-group">
						<div class="radbtns"><%= f.radio_button :devicestorage, "8 GB" %> <%= f.label:devicestorage, "8 GB" %></div>
						<div class="radbtns"><%= f.radio_button :devicestorage, "16 GB" %> <%= f.label:devicestorage, "16 GB" %></div>
						<div class="radbtns"><%= f.radio_button :devicestorage, "32 GB" %> <%= f.label:devicestorage, "32 GB" %></div>
						<div class="radbtns"><%= f.radio_button :devicestorage, "64 GB" %> <%= f.label:devicestorage, "64 GB" %></div>
						<div class="radbtns"><%= f.radio_button :devicestorage, "128 GB" %> <%= f.label:devicestorage, "128 GB" %></div>
						</div>
						</div>
				
				
				
				
					<p><%= f.label :devicecolor, " Device Color" %>
					<%= f.text_field :devicecolor %></p>
					<p><%= f.label :devicecondition, " Device Condition" %>
					<%= f.text_field :devicecondition %></p>
					<div class="radgrp"><%= f.label :modified, " Has the phone been modified in any way?" %>
						<div class="btn-group"><div class="radbtns"><%= f.radio_button :modified, :true %> <%= f.label:modified, " Yes" %></div>
						<div class="radbtns"><%= f.radio_button :modified, :false %> <%= f.label:modified, " No" %></div></div></div>
					<p><%= f.label :deviceimei, " Imei Number" %>
					<%= f.text_field :deviceimei %></p>
						<p><%=f.label:devicecarrier, "Service Provider" %>

						<%= f.select :devicecarrier , [['Unlocked','Unlocked'], ['SingTel','SingTel'], ['Starhub','Starhub'], ['M1','M1'], ['Others','Others']],  :autofocus => true%>
						</p>
						
					<p><%= f.label :askprice, " Your asking price" %>
					<%= f.text_field :askprice %></p>
					
					<p><%= f.label :moddetails, " Describe any modifications that you have done." %><%= f.text_area :moddetails,  :placeholder=>"Describe your modification if you have modified the device in any way." %></p>

					<p><%= f.label :accessories, " Accessories" %><%= f.text_field :accessories, :class=> " required", :placeholder=>"List of accessories with the phone*" %></p>
					
					</div>

					<div class="form-group">
					<p><%= f.label :itemlocation, " Where is the item located?" %>
					<%= f.text_field :itemlocation %></p>
						<div class="radgrp"><%= f.label :deliveryby, " How will you deliver?" %>
							<div class="btn-group"><div class="radbtns half-width"><%= f.radio_button :deliveryby, "courier" %> <%= f.label:deliveryby, " Courier/Mail" %></div>
							<div class="radbtns half-width"><%= f.radio_button :deliveryby, "pickup" %> <%= f.label:deliveryby, " Meetup" %></div></div></div>
								<p><%= f.label :pickupaddress, " Place where you would like to meet the buyer" %>
								<%= f.text_field :pickupaddress %></p>
					
						<div class="radgrp"><%= f.label :shipinternationally, " Will you ship internationally?" %>
							<div class="btn-group"><div class="radbtns"><%= f.radio_button :shipinternationally, :true %> <%= f.label:shipinternationally, " Yes" %></div>
							<div class="radbtns"><%= f.radio_button :shipinternationally, :false %> <%= f.label:shipinternationally, " No" %></div></div></div>
					<p><%= f.label :shippingdetails, " Details of shipping method and costs etc." %>
					<%= f.text_field :shippingdetails %></p>
					<div class="radgrp"><%= f.label :returnsallowed, " Will you allow returns?" %>
						<div class="btn-group"><div class="radbtns"><%= f.radio_button :returnsallowed, :true %> <%= f.label:returnsallowed, " Yes" %></div>
						<div class="radbtns"><%= f.radio_button :returnsallowed, :false %> <%= f.label:returnsallowed, " No" %></div></div></div>
					<p><%= f.label :returnpolicy, " Your returns policy" %>
					<%= f.text_field :returnpolicy %></p>
					</div>

					<div class="form-group">
					<p><%= f.label :paypalfname, " First name in paypal account" %>
					<%= f.text_field :paypalfname %></p>
					<p><%= f.label :paypallname, " Last name in paypal account" %>
					<%= f.text_field :paypallname %></p>
					<p><%= f.label :paypalemail, " Paypal email address" %>
					<%= f.text_field :paypalemail %></p>
					</div>
					<hr class="gray">

						<div class="newPaperclipFiles">

						        <%= f.fields_for :assets do |asset| %>

						           <% if asset.object.new_record? %>
						                 <p><%= asset.file_field :image, :class=> "custom-file-input" %></p>
						           <% end %>

						       <% end %>

				</div>
				
				
						<h4>I accept all the terms and conditions and hereby when I click the Go button.</h4>
						<%= f.hidden_field :country, :value=> "Singapore" %>
						<%= f.hidden_field :phone_id, :value=>params[:pid] %>
												<%= f.hidden_field :status, :value=>"Pending" %>
												<input type="text" name="foo" style="display: none;">
												<hr class="gray">
					<%= f.submit "Go", :disable_with => 'Going...', :class =>"btn btn-success redround offshadow" %>
					<%= link_to "Cancel", :back, {:class=>"btn pomegranate-flat-button"} %>
					
					<% end %>
	
				
									
	</div>
</section>

	




