<% content_for :title, "#{@listing.headline}  in Singapore" %>
<section class="show silver-color">
<div class=" container">
	<div class="row snapshot white-color offshadow">
		<div class="col-md-1 col-sm-4 col-xs-4 "><%= @phone.modelname %></div>
		<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.devicecolor %></div>
		<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.devicecondition %></div>
		<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.devicestorage %></div>
		<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.itemlocation %></div>
		<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.paypalstatus %></div>
		<div class="col-md-1 col-sm-4 col-xs-4 ">55 <span class="glyphicon glyphicon-thumbs-up"></span></div>
		<div class="col-md-1 col-sm-4 col-xs-4 ">4 <span class="glyphicon glyphicon-camera"></span></div>
		<div class="col-md-4 col-sm-4 col-xs-4 ">Accessories: <%= @listing.accessories %></div>
	</div>

<div class="row">
<div class="col-md-5">
	<div class="summary white-color offshadow">
		<div class="center-image">
			<%= image_tag @phone.image.url(:medium) %>
		</div>
		<h3><%= @listing.headline %></h3>
		<p><%= @listing.description %>
			
			<%= social_share_button_tag(@listing.headline) %>
			
		</p>
		<% if @listing.status == "Approved"%>	
			<h1><a href="/transactions/initiatetransaction?l=<%=@listing.id%>" class="btn green-sea-flat-button">Buy now - $<%=@listing.askprice.to_i + 20 %></a></h1>
		<% end %>

			<% if @listing.status == "Pending"%>	
				<h1 class="outlined-heading black-outline">Listing is Pending review</h1>
			<% end %>
			<% if @listing.status == "Sold"%>	
			<h1 class="outlined-heading black-outline">Listing has been sold.</h1>
			<% end %>														

		<% if user_signed_in?  %>
			<% if current_user.id == @listing.user_id %>
			<h1><a href="/listings/<%=@listing.id%>/edit" class="btn green-sea-flat-button">Edit Listing</a></h1>
		    <% end %>
		<% end %>		
	
		
	</div>
	

	
</div>
<div class="col-md-7">
	<div class="white-color offshadow cushion listing-detail">
		<div class="listing-images">
			<%  @listing.assets.each do |a| %>											
		    	<div class="img-container offshadow"><a class="fancybox" href="<%= a.image.url('original')%>" rel="group"><%= image_tag a.image.url('small') %></a></div>
			<%end%>
	</div>


	
	
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Accessories</h3>
		</div>
		<div class="col-md-6">
		<p ><%= @listing.accessories %></p>
		</div>
	</div>
	
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Condition</h3>
		</div>
		<div class="col-md-6">
			<p class="devicecondition">
			<%= @listing.devicecondition %>
				
			<% if @listing.devicecondition == "Mint"%>
				<ul>
					<li>Functions flawlessly</li>
					<li>Perfect screen condition</li>
					<li>No signs of use</li>
					</ul>
					<% end %>
					<% if @listing.devicecondition == "Good"%>

				<ul>
					<li>Functions flawlessly</li>
					<li>Good screen condition</li>
					<li>Few Cosmetic imperfections</li>
					</ul>
						<% end %>
						<% if @listing.devicecondition == "Fair"%>

					<ul>
						<li>Functions flawlessly</li>
						<li>Good screen condition</li>
						<li>Some scratches or worn paint</li>
						</ul>
							<% end %>
							<% if @listing.devicecondition == "New"%>
								<ul>
									<li>Never activated, rooted, or refurbished</li>
									<li>Includes original box and all accessories</li>
									<li>No signs of use</li>
									</ul>
										<% end %>
			</p>
		</div>
	</div>
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Modification</h3>
		</div>
		<div class="col-md-6">
			<p><%=@listing.moddetails %></p>
		</div>
	</div>
	

	<div class="row mini-info shipping">
		<div class="col-md-6">
		<h3>Shipping Information</h3>
		</div>
		<div class="col-md-6">
		<p>Item Location: <%= @listing.itemlocation %></p>
		<p>Delivery Method: </p>
		<p>Ship Internationally: <%= @listing.shipinternationally %></p>
		<p>Delivery method details: Pickup address to be shown after payment</p>
		</div>
	</div>


	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Return Policy</h3>
		</div>
		<div class="col-md-6">
		<p >
			<% if  @listing.returnsallowed == true %>
			This seller will accept returns.<br/>
			
			Return policy:
			<%=  @listing.returnspolicy %>
			</p>
			
			<% else %>
				This seller will NOT accept returns.</p>
			<% end %>
		</div>
	</div>
</div>

<div class="col-md-12 white-color offshadow cushion">



		
		<div class="comments-list">
			<h4> Comments (1)</h4>
		<div class="comment">
			<img alt="Missing" class="img-circle" src="/images/profiles/avatars/mini/missing.png">
		<p class="comment-body">
		<strong>Mihir </strong><br>
				Something something 
	
	<br><br>
19 days ago	
	</p></div>
		
		
	
<hr class="gray">
<h4> Add a new Comment</h4>
		<div class="comment-form">
			<form accept-charset="UTF-8" action="/comments" class="new_comment" enctype="multipart/form-data" id="new_comment" method="post" novalidate="novalidate"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="K7BVBsKDFqnSbrabuPJ2qAup+8U3CULowQrpG6PIQAE="></div>
	<div class="form-group">
		<textarea class="form-control" id="comment_commentbody" name="comment[commentbody]" placeholder="Write something here"></textarea>
		<label for="comment_picture">Upload any additional picture</label><input id="comment_picture" name="comment[picture]" type="file"><br>
	</div>
	<input id="comment_listing_id" name="comment[listing_id]" type="hidden" value="6">
	<input id="comment_user_id" name="comment[user_id]" type="hidden" value="1">
	<input id="comment_status" name="comment[status]" type="hidden" value="Pending">
	<input type="text" name="foo" style="display: none;">


	<div class="form-group">
	<input class="btn btn-sm input-btn red-color" disable_with="Adding..." name="commit" type="submit" value="Add a comment"></div>
	</form></div>

		</div>

</div>

</div>
</div>



</section>

