<% content_for :title, "#{@listing.headline}  in Singapore" %>
<section class="show silver-color">
<div class=" container">


<div class="row">
<div class="col-md-5">
	<div class="summary white-color offshadow">
		<div class="center-image row">
			<div class="col-md-4 col-sm-6 col-xs-12">
			<%= image_tag @phone.image.url(:medium)%>
		</div>
		<div class="col-md-8 col-sm-6 col-xs-12">
			<div class="row cushion">
					<div class="col-md-12 col-sm-12 col-xs-12">
					<h4>Listed by <a href="/profiles/<%=@profile.id%>"><%= @author.firstname%></a></h4>
					</div>

				<div class="col-md-6 col-sm-6 col-xs-6">
					Member Since:<br/><%= @author.created_at.to_date %>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-6">
					Last seen on:<br/><%= time_ago_in_words(@author.last_sign_in_at) %> ago
				</div>
		
				<div class="col-md-6 col-sm-6 col-xs-6">
					Reviews:<br/> 
					<span class="upvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, true).count %></span> <span class="glyphicon glyphicon-thumbs-up"></span>
					<span class="downvote"><%= Vote.where('voteable_id =? AND vote =?', @profile.id, false).count %> </span><span class="glyphicon glyphicon-thumbs-down gray"></span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					Phone:<br/><strong><%= @phone.modelname %></strong>
				</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						Color:<br/><strong><%= @listing.devicecolor %></strong>
					</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							Memory:<br/><strong><%= @listing.devicestorage %></strong>
						</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								Condtion:<br/><strong><%= @listing.devicecondition %></strong>
							</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									Location:<br/><strong><%= @listing.itemlocation %></strong>
								</div>
				
			</div>
		
		</div>
		</div>
		
		
		<% if @listing.status == "Approved"%>	
			<h1><a href="/transactions/initiatetransaction?l=<%=@listing.id%>" class="btn green-sea-flat-button">Buy now - $<%=@listing.askprice.to_i + 20 %></a></h1>
		<% end %>

			<% if @listing.status == "Pending"%>	
				<h1 class="outlined-heading black-outline">Listing is Pending review</h1>
			<% end %>
			<% if @listing.status == "Sold"%>	
			<h1 class="outlined-heading black-outline">Listing has been sold.</h1>
			<% end %>														

	
	
		
	</div>
	
</div>
<div class="col-md-7">
<div class="white-color offshadow cushion listing-detail">
	<div>
			<h3><%= @listing.headline %></h3>
			<p><%= @listing.description %>
			</p>
			<% if user_signed_in?  %>
				<% if current_user.id == @listing.user_id %>
		<a href="/listings/<%=@listing.id%>/edit" class="bigger-font pull-right">Edit Listing</a>
			    <% end %>
			<% end %>
	</div>
		<div class="listing-images">
			<%  @listing.assets.each do |a| %>											
		    	<div class="img-container offshadow"><a class="fancybox" href="<%= a.image.url('large')%>" rel="group"><%= image_tag a.image.url('small') %></a></div>
			<%end%>
	</div>


	
	
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Accessories</h3>
		</div>
		<div class="col-md-6">
		<p ><%= @listing.accessories %></p>
		</div>
	</div>
	
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Condition</h3>
		</div>
		<div class="col-md-6">
			<p class="devicecondition">
			<%= @listing.devicecondition %>
				
			<% if @listing.devicecondition == "Mint"%>
				<ul>
					<li>Functions flawlessly</li>
					<li>Perfect screen condition</li>
					<li>No signs of use</li>
					</ul>
					<% end %>
					<% if @listing.devicecondition == "Good"%>

				<ul>
					<li>Functions flawlessly</li>
					<li>Good screen condition</li>
					<li>Few Cosmetic imperfections</li>
					</ul>
						<% end %>
						<% if @listing.devicecondition == "Fair"%>

					<ul>
						<li>Functions flawlessly</li>
						<li>Good screen condition</li>
						<li>Some scratches or worn paint</li>
						</ul>
							<% end %>
							<% if @listing.devicecondition == "New"%>
								<ul>
									<li>Never activated, rooted, or refurbished</li>
									<li>Includes original box and all accessories</li>
									<li>No signs of use</li>
									</ul>
										<% end %>
			</p>
		</div>
	</div>
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Modification</h3>
		</div>
		<div class="col-md-6">
			<p><%=@listing.moddetails %></p>
		</div>
	</div>
	

	<div class="row mini-info shipping">
		<div class="col-md-6">
		<h3>Shipping Information</h3>
		</div>
		<div class="col-md-6">
		<p>Item Location: <%= @listing.itemlocation %></p>
		<p>Delivery Method: </p>
		<p>Ship Internationally: <%= @listing.shipinternationally %></p>
		<p>Delivery method details: Pickup address to be shown after payment</p>
		</div>
	</div>


	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Return Policy</h3>
		</div>
		<div class="col-md-6">
		<p >
			<% if  @listing.returnsallowed == true %>
			This seller will accept returns.<br/>
			
			Return policy:
			<%=  @listing.returnspolicy %>
			</p>
			
			<% else %>
				This seller will NOT accept returns.</p>
			<% end %>
		</div>
	</div>
	
</div>
</div>



<div class="col-md-12">
<div class="white-color offshadow cushion">
		<% cache @comments do%>
		<%= render partial: 'listings/comments' %>
		<% end %>	
<hr class="gray">

		<div class="comment-form">
			<% if user_signed_in? %>
			<div class="comment-form">
				<%= form_for @comment, :class=>"form-horizontal",  :role => "form", :html => { :multipart => true } do |f| %>
			
		<div class="form-group">
			<h4> Add a new Comment</h4>
			<br/>
			<%= f.text_area :commentbody, :class=> "form-control", :placeholder=>"Write something here" %>
			<br/>
		<%= f.label :picture, "Upload any additional picture" %><%= f.file_field :picture %>
		<%= f.hidden_field :listing_id, :value => @listing.id %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :status, :value => "Pending" %>
		<input type="text" name="foo" style="display: none;">
		<br/>
		<%= f.submit "Add a comment", :disable_with => 'Adding...', :class =>"btn red-color submit" %></div>
		<% end %>

		<% else %>
		<%= link_to "Log in to comment", new_user_session_path, :class => "btn btn-success" %> 

			<% end %>
		</div>

</div>
</div>


</div>



</div>
</section>

