<% content_for :title, "#{@listing.headline}  in Singapore" %>
<section class="show silver-color">
<div class=" container">


<div class="row">
<div class="col-md-5">
	<div class="summary white-color offshadow">
		<div class="center-image">
			<%= image_tag @phone.image.url(:medium)%>
		
		</div>
			<div class="row snapshot">
				<div class="col-md-3 col-sm-3 col-xs-3 ">Phone:<br/><%= @phone.modelname %></div>
				<div class="col-md-3 col-sm-3 col-xs-3 ">Color:<br/><%= @listing.devicecolor %></div>
				<div class="col-md-3 col-sm-3 col-xs-3 ">Memory:<br/><%= @listing.devicestorage %></div>
				<div class="col-md-3 col-sm-3 col-xs-3 ">Location:<br/><%= @listing.itemlocation %></div>
			</div>
		<hr class="green">
		<h3><%= @listing.headline %></h3>
		<p><%= @listing.description %>
				
		</p>
	
		
		<% if @listing.status == "Approved"%>	
			<h1><a href="/transactions/initiatetransaction?l=<%=@listing.id%>" class="btn green-sea-flat-button">Buy now - $<%=@listing.askprice.to_i + 20 %></a></h1>
		<% end %>

			<% if @listing.status == "Pending"%>	
				<h1 class="outlined-heading black-outline">Listing is Pending review</h1>
			<% end %>
			<% if @listing.status == "Sold"%>	
			<h1 class="outlined-heading black-outline">Listing has been sold.</h1>
			<% end %>														

	
	
		
	</div>
	<div class="summary white-color offshadow cushion">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<%= image_tag @profile.avatar.url(:mini), :class => "owner-image img-circle" unless @profile.nil? %>
				<%= @author.firstname%><br/>
			</div>
				
			<div class="col-md-4 col-sm-4 col-xs-12">
				Member Since:<br/><%= @author.created_at.to_date %>
			</div>
			
			<div class="col-md-4 col-sm-4 col-xs-12">
				Last seen on:<br/><%= @author.last_sign_in_at.to_date%>
			</div>
		</div>	
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				Reviews: 55 <span class="glyphicon glyphicon-thumbs-up"></span><br/>
			</div>
		</div>	
	</div>
</div>
<div class="col-md-7">
<div class="white-color offshadow cushion listing-detail">
	<div>
	<%= social_share_button_tag(@listing.headline) %>
		
			<% if user_signed_in?  %>
				<% if current_user.id == @listing.user_id %>
		<a href="/listings/<%=@listing.id%>/edit" class="bigger-font pull-right">Edit Listing</a>
			    <% end %>
			<% end %>
	</div>
		<div class="listing-images">
			<%  @listing.assets.each do |a| %>											
		    	<div class="img-container offshadow"><a class="fancybox" href="<%= a.image.url('original')%>" rel="group"><%= image_tag a.image.url('small') %></a></div>
			<%end%>
	</div>


	
	
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Accessories</h3>
		</div>
		<div class="col-md-6">
		<p ><%= @listing.accessories %></p>
		</div>
	</div>
	
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Condition</h3>
		</div>
		<div class="col-md-6">
			<p class="devicecondition">
			<%= @listing.devicecondition %>
				
			<% if @listing.devicecondition == "Mint"%>
				<ul>
					<li>Functions flawlessly</li>
					<li>Perfect screen condition</li>
					<li>No signs of use</li>
					</ul>
					<% end %>
					<% if @listing.devicecondition == "Good"%>

				<ul>
					<li>Functions flawlessly</li>
					<li>Good screen condition</li>
					<li>Few Cosmetic imperfections</li>
					</ul>
						<% end %>
						<% if @listing.devicecondition == "Fair"%>

					<ul>
						<li>Functions flawlessly</li>
						<li>Good screen condition</li>
						<li>Some scratches or worn paint</li>
						</ul>
							<% end %>
							<% if @listing.devicecondition == "New"%>
								<ul>
									<li>Never activated, rooted, or refurbished</li>
									<li>Includes original box and all accessories</li>
									<li>No signs of use</li>
									</ul>
										<% end %>
			</p>
		</div>
	</div>
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Modification</h3>
		</div>
		<div class="col-md-6">
			<p><%=@listing.moddetails %></p>
		</div>
	</div>
	

	<div class="row mini-info shipping">
		<div class="col-md-6">
		<h3>Shipping Information</h3>
		</div>
		<div class="col-md-6">
		<p>Item Location: <%= @listing.itemlocation %></p>
		<p>Delivery Method: </p>
		<p>Ship Internationally: <%= @listing.shipinternationally %></p>
		<p>Delivery method details: Pickup address to be shown after payment</p>
		</div>
	</div>


	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Return Policy</h3>
		</div>
		<div class="col-md-6">
		<p >
			<% if  @listing.returnsallowed == true %>
			This seller will accept returns.<br/>
			
			Return policy:
			<%=  @listing.returnspolicy %>
			</p>
			
			<% else %>
				This seller will NOT accept returns.</p>
			<% end %>
		</div>
	</div>
	
</div>
</div>



<div class="col-md-12">
<div class="white-color offshadow cushion">
		<% cache @comments do%>
		<%= render partial: 'listings/comments' %>
		<% end %>	
<hr class="gray">
<h4> Add a new Comment</h4>
		<div class="comment-form">
			<% if user_signed_in? %>
			<div class="comment-form">
				<%= form_for @comment, :class=>"form-horizontal",  :role => "form", :html => { :multipart => true } do |f| %>
		<div class="form-group">
			<%= f.text_area :commentbody, :class=> "form-control", :placeholder=>"Write something here" %>
		</div>
		<div class="form-group">
			<%= f.label :picture, "Upload any additional picture" %><%= f.file_field :picture %><br/>
		</div>
		<%= f.hidden_field :listing_id, :value => @listing.id %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :status, :value => "Pending" %>
		<input type="text" name="foo" style="display: none;">


		<div class="form-group">
		<%= f.submit "Add a comment", :disable_with => 'Adding...', :class =>"btn red-color submit" %></div>
		</div>
		<% end %>

		<% else %>
		<%= link_to "Log in to comment", new_user_session_path, :class => "btn btn-success" %> 

			<% end %>
		</div>

</div>
</div>


</div>



</div>
</section>

