<% content_for :title, "#{@listing.headline}  in Singapore" %>
<div class="row snapshot silver-color offshadow">
	<div class="col-md-1 col-sm-4 col-xs-4 "><%= @phone.modelname %></div>
	<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.devicecolor %></div>
	<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.devicecondition %></div>
	<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.devicestorage %></div>
	<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.itemlocation %></div>
	<div class="col-md-1 col-sm-4 col-xs-4 "><%= @listing.paypalstatus %></div>
	<div class="col-md-1 col-sm-4 col-xs-4 ">55 <span class="glyphicon glyphicon-thumbs-up"></span></div>
	<div class="col-md-1 col-sm-4 col-xs-4 ">4 <span class="glyphicon glyphicon-camera"></span></div>
	<div class="col-md-4 col-sm-4 col-xs-4 ">Accessories: <%= @listing.accessories %></div>
</div>

<section class="show white-color">
<div class=" container">
<div class="row">
<div class="col-md-5">
	<div class="summary white-color">
		<div class="center-image">
			<%= image_tag @phone.image.url(:medium) %>
		</div>
		<h3><%= @listing.headline %></h3>
		<p><%= @listing.description %>
			
			<ul>
			<li>Paypal Account: <strong><%= @listing.paypalstatus %></strong></li>
			<li>Listed by <%= @author.email.split("@")[0] %></li>
			<li>Member Since <%=@author.created_at.to_date() %></li>
			<li>From <%= @profile.country unless @profile.nil? %></li>
			<li>last updated on <%=@listing.updated_at.to_date %></li>
			<li> <%=  link_to "View Seller's Profile",  "/profiles/#{@profile.id}" unless @profile.nil? %> </li>

											</ul>
			<%= social_share_button_tag(@listing.headline) %><br/>
			
		</p>
		<% if @listing.status == "Approved"%>	
			<h1><a href="/transactions/initiatetransaction?l=<%=@listing.id%>" class="btn green-sea-flat-button">Buy now - $<%=@listing.askprice.to_i + 20 %></a></h1>
		<% end %>

			<% if @listing.status == "Pending"%>	
				<h1 class="outlined-heading black-outline">Listing is Pending review</h1>
			<% end %>
			<% if @listing.status == "Sold"%>	
			<h1 class="outlined-heading black-outline">Listing has been sold.</h1>
			<% end %>														

		<% if user_signed_in?  %>
			<% if current_user.id == @listing.user_id %>
			<h1><a href="/listings/<%=@listing.id%>/edit" class="btn green-sea-flat-button">Edit Listing</a></h1>
		    <% end %>
		<% end %>		
	
		
	</div>
	

	
</div>
<div class="col-md-7">
	
		<div class="listing-images">
			<%  @listing.assets.each do |a| %>											
		    	<div class="img-container offshadow"><a class="fancybox" href="<%= a.image.url('original')%>" rel="group"><%= image_tag a.image.url('small') %></a></div>
			<%end%>
	</div>


	
	
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Accessories</h3>
		</div>
		<div class="col-md-6">
		<p ><%= @listing.accessories %></p>
		</div>
	</div>
	
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Condition</h3>
		</div>
		<div class="col-md-6">
			<p class="devicecondition">
			<%= @listing.devicecondition %>
				
			<% if @listing.devicecondition == "Mint"%>
				<ul>
					<li>Functions flawlessly</li>
					<li>Perfect screen condition</li>
					<li>No signs of use</li>
					</ul>
					<% end %>
					<% if @listing.devicecondition == "Good"%>

				<ul>
					<li>Functions flawlessly</li>
					<li>Good screen condition</li>
					<li>Few Cosmetic imperfections</li>
					</ul>
						<% end %>
						<% if @listing.devicecondition == "Fair"%>

					<ul>
						<li>Functions flawlessly</li>
						<li>Good screen condition</li>
						<li>Some scratches or worn paint</li>
						</ul>
							<% end %>
							<% if @listing.devicecondition == "New"%>
								<ul>
									<li>Never activated, rooted, or refurbished</li>
									<li>Includes original box and all accessories</li>
									<li>No signs of use</li>
									</ul>
										<% end %>
			</p>
		</div>
	</div>
	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Modification</h3>
		</div>
		<div class="col-md-6">
			<p><%=@listing.moddetails %></p>
		</div>
	</div>
	

	<div class="row mini-info shipping">
		<div class="col-md-6">
		<h3>Shipping Information</h3>
		</div>
		<div class="col-md-6">
		<p>Item Location: <%= @listing.itemlocation %></p>
		<p>Delivery Method: </p>
		<p>Ship Internationally: <%= @listing.shipinternationally %></p>
		<p>Delivery method details: Pickup address to be shown after payment</p>
		</div>
	</div>


	<div class="row mini-info">
		<div class="col-md-6">
		<h3>Return Policy</h3>
		</div>
		<div class="col-md-6">
		<p >
			<% if  @listing.returnsallowed == true %>
			This seller will accept returns.<br/>
			
			Return policy:
			<%=  @listing.returnspolicy %>
			</p>
			
			<% else %>
				This seller will NOT accept returns.</p>
			<% end %>
		</div>
	</div>

</div>
</div>
</div>



</section>
<section class="comments silver-color">
	<div class="container">
				<% if @comments.empty? %>

				<div class="no-comments">
				<h3>No comments for this listing. Be the first one to comment.</h3>
				</div>
				<% if user_signed_in? %>
				<div class="comment-form">

				<%= form_for @comment, :class=>"form-horizontal",  :role => "form", :html => { :multipart => true } do |f| %>
		<div class="form-group">
			<%= f.text_area :commentbody, :class=> "form-control", :placeholder=>"Write Something here" %>
			
				<%= f.label :picture, "Upload any additional picture" %><%= f.file_field :picture %><br/>
		</div>  
			<%= f.hidden_field :listing_id, :value => @listing.id %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :status, :value => "Pending" %>

			<input type="text" name="foo" style="display: none;">

		<div class="form-group">
			<%= f.submit "Add a comment", :disable_with => 'Adding...', :class =>"btn bt-sm input-btn red-color" %></div>

		<% end %>
			</div>

		<% else %>
		<%= link_to "Log in to comment", new_user_session_path, :class => "btn btn-success" %> 

		<% end %>




				<% else %>


		<% cache @comments do %>

		<%= render partial: 'listings/comments' %>
	<% end %>
<hr class="gray">
<h4> Add a new Comment</h4>
		<% if user_signed_in? %>
		<div class="comment-form">
			<%= form_for @comment, :class=>"form-horizontal",  :role => "form", :html => { :multipart => true } do |f| %>
	<div class="form-group">
		<%= f.text_area :commentbody, :class=> "form-control", :placeholder=>"Write something here" %>
		<%= f.label :picture, "Upload any additional picture" %><%= f.file_field :picture %><br/>
	</div>
	<%= f.hidden_field :listing_id, :value => @listing.id %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :status, :value => "Pending" %>
	<input type="text" name="foo" style="display: none;">


	<div class="form-group">
	<%= f.submit "Add a comment", :disable_with => 'Adding...', :class =>"btn btn-sm input-btn red-color" %></div>
	</div>
	<% end %>

	<% else %>
	<%= link_to "Log in to comment", new_user_session_path, :class => "btn btn-success" %> 

		<% end %>
		</div>

		<% end %>
</div>
</section>

