<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color:#ccc;">
	<div id="container" style="background-color:#e7e7e8;padding-bottom:60px;">
		<h1 class="logo" style="font-weight:bold;text-align:center;font-size:72px;font-variant:small-caps;letter-spacing:0.08em;color: #000;font-family: 'Open Sans', sans-serif; margin-bottom:30px;">phonesalad</h1>
			<div id="content" style="width:80%;padding:60px;background-color:#fff;margin:0px auto 60px;">
			
			
				<h4>Dear <%= @buyerprofile.displayname %>,</h4>
<div class="mailbody" style="padding:30px;background-color:#e1e1e1;">
	<p>Greetings from Phonesalad!</p>
	<p>Your order for <%= @order.devicename %> has been shipped. 
	Please find below the tracking info as below</p>
	<div class="wrapper">
		<div class="cushion">
			<h1>Tracking info for your Order</h1>
	<table class="table table-bordered">
		<tr><th>Shipping Company</th><th>Shipped from</th><th>Shipped to</th><th>Shipped on</th><th>Tracking Code</th></tr>
		<tr><td><%=@trackcode.shipping_company%></td><td><%=@trackcode.shipping_city%></td><td><%=@trackcode.shippingto_city %></td><td><%=@trackcode.shipping_date %></td><td><%=@trackcode.code %></td></tr>
	</div>

	</div>
	<p>
		You can also find your tracking information in your <%= link_to "dashboard", "http://www.phonesalad/pages/dashboard"%>.
	Please contact us should you have any questions or need further assistance.
	Thank you for shopping with us!</p>
</div>

	<p>Thanks and Regards,</p>
	<p><a href="www.phonesalad.com">Phonesalad Team</a></p>   




	</div>
	</div>
  </body>
</html>