<div class="outer">
					<div class="pane">							
						<div class="centered-text section centered-400 rounded offshadow">
		<h2>Change your password</h2>
			<hr class="gray">
		

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.label :password, "New password" %>
  <%= f.password_field :password, :autofocus => true, :class=> "form-control" %>

  <%= f.label :password_confirmation, "Confirm new password", :class=> "form-control" %>
  <%= f.password_field :password_confirmation %>

	<hr class="gray">

<%= f.submit "Change my password", :class=> "btn btn-success" %>
<% end %>

<br/>
<br/>
<%= render "devise/shared/links" %>



</div>
</div>
</div>