</div>
<div id="content">
	<section class="listings softshadow">
<h2 class="content-heading">Most popular phones</h2>
<ul class="row">
	<% @mostviewedphones.each do  |mvp| %>
	<li class="col-md-2 col-sm-4 col-xs-12">
		<%= image_tag mvp.image.url(:thumb) %>
		<h4><%= mvp.modelname %></h4><a class="btn graphite-flat-button btn-sm" href="/phones/<%= mvp.id %>">Buy</a> <a class="btn btn-danger btn-sm pumpkin-flat-button" href="/listings/new?pid=<%= mvp.id %>">Sell</a>
	</li>
	<% end %>
	</ul>
	</section>
	<section class="listings offshadow tablets">
	<h2 class="content-heading">Phones with most recent listings</h3>
	<ul class="row">
	
		<% @newlistedphones.each do  |nlp| %>
		<li class="col-md-2 col-sm-4 col-xs-12">
			<%= image_tag nlp.image.url(:thumb) %>
			<h4><%= nlp.modelname %></h4><a class="btn graphite-flat-button  btn-sm" href="/phones/<%= nlp.id %>">Buy</a> <a class="btn btn-danger btn-sm pumpkin-flat-button" href="/listings/new?pid=<%= nlp.id %>">Sell</a>
		</li>
		<% end %>
</ul>
</section>

<section class="listings softshadow" id="howitworks">
<h2 class="content-heading">No junk devices allowed. Great phones for less!</h2>
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="glyph"><span class="glyphicon glyphicon-tint"></span></div>
		<h3 class="content-heading">no water damaged phones</h3>
		<p class="feature-explanation">We don't allow users to list phones with water damage.</p>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="glyph"><span class="glyphicon glyphicon-phone"></span></div>
		<h3 class="content-heading">no phones with cracked screens</h3>
		<p class="feature-explanation">Every listing is verified to see if the screen of the phone is cracked, if it is so then the listing is rejected.</p>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="glyph"><span class="glyphicon glyphicon-check"></span></div>
		<h3 class="content-heading">we use paypal so you are safe</h3>
		<p class="feature-explanation">Paypal has a buyer as well as seller protection policy which protects you.</p>
		
	</div>
</div>
</section>
<section class="listings offshadow" id="mission">
<h1 class="large-logo">phonesalad</h1>
	<p class="mission-slogan">Make money selling your old iOS devices online. <br/>Get the best deal for your old phone <br/>&<br/> <strong>keep all your money</strong>.</p>
		  <%= link_to "Get started now!", new_user_registration_path, :class => "btn btn-hero pomegranate-flat-button" %>
		
</section>
</div>

<div class="container">