<section class="red-color auth-form-section full-height">
		<div class="hero-content container">
		<h1 class="page-heading auth-form-heading">sign in</h1>
<%= form_for(resource, :as => resource_name,:html => {class:"new_user auth-form"}, :url => session_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

 	<p>
 <%= f.email_field :email, :class=> "required", :placeholder=>"Email", :required => true %>
</p>
<p>
 <%= f.password_field :password, :class=> "required", :placeholder=>"Password", :required => true %>
</p>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
<p>
<%= f.submit "Sign in", :class=>"btn submit input-btn"  %>
</p>
<div class="form-links">
	<a href="/users/sign_up">» Haven't signed up yet?</a>
	<a href="users/password/new">» Forgot password?</a></div>
<% end %>

</div>
</section>
