<!DOCTYPE html>
<html>
<head>
  <title>Phonesalad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
<meta name="viewport" content="initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
	<div class="top">
		<div class="centered-text">
			<a href="<%= root_url %>"><h1 class="normal-logo">phonesalad</h1></a>
		</div>
	</div>
<div class="container">
	<% if flash[:notice] %>
	<div class='alert top-alert <% if flash[:notice] =~ /Success/i %> alert-success <% else %> alert-danger<% end %>' data-dismiss="alert">
	<p><%= flash[:notice] %></p>
	</div>
	<% end %>
<%= yield %>
</div>
</div>

<div id="footer" class="softshadow">
	<div class="container">
		<div class="footer-links">
			<a href="/pages/about">About</a> 
			<a href="/pages/faq">FAQ</a> 
			<a href="/pages/terms">Terms & Conditions</a> 
		  		<% if user_signed_in? %>
			<%= link_to "My Dashboard", dashboard_url %>
			<%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
			<% else %>
		      <%= link_to "Sign in", new_user_session_path %>
		      <%= link_to "Sign up", new_user_registration_path %>

			<% end %>
	</div>
</div>

</div>
</body>
</html>
